# Usage Examples

In [1]:
import binda as bd
data = b'BLOCKDATAdJamie Cash     \x01eBobby Smith    \x00fMr Bean        '\
      +b'\x01Mr Author      \n\x00\xff\xec\x00\x00\xf7B'

handler = bd.DataHandler(data)

In [2]:
print("Name: " + handler.read_variable(bd.Variable('name', 15, str, 10)))

Name: Jamie Cash

In [3]:
author_struct = \
      bd.Structure(60, [bd.Variable('AUTHOR', 15, str), 
                        bd.Variable('ID', 2, int), 
                        bd.Variable('POINTS', 2, int, 
                                    byteorder=bd.ByteOrder.BIG, signed=True)])
handler.add_structure('author', author_struct)
df = handler.read_structure('author')
df

            AUTHOR  ID  POINTS
0  Mr Author        10     -20

In [4]:
people_struct = \
  bd.Structure(9, [bd.Variable('ID', 1, int),
                    bd.Variable('NAME', 15, str),
                    bd.Variable('ACTIVE', 1, bool)], rows=3)

handler.add_structure('people', people_struct)
df = handler.read_structure('people')
df

    ID             NAME  ACTIVE
0  100  Jamie Cash         True
1  101  Bobby Smith       False
2  102  Mr Bean            True

In [7]:
# Change Bobby Smiths name to Bobby Smythe, his ID to 200 and is active 
# status to True
df.loc[df['ID'] == 101, 'ID'] = 200
df.loc[df['ID'] == 200, 'NAME'] = 'Bobby Smythe   '
df.loc[df['ID'] == 200, 'ACTIVE'] = True
handler.write_structure('people', df)

# Confirm that the change has been made to the data by re-reading it and 
# displaying
df = handler.read_structure('people')
df

    ID             NAME  ACTIVE
0  100  Jamie Cash         True
1  200  Bobby Smythe       True
2  102  Mr Bean            True

In [8]:
print(handler.data[26:43])

b'\xc8Bobby Smythe   \x01'